<% if @users.exists? %>
  <div>
    <p class="main_user">­ЪЇЙ<%= @user.nickname %>сЂЋсѓЊсѓњсЃЋсѓЕсЃГсЃ╝сЂЌсЂдсѓІсЃдсЃ╝сѓХсЃ╝­ЪЇЙ</p>
  </div>
  <% @users.each do |user| %>
    <div class="relationships">
      <div class="user_name">сЃдсЃ╝сѓХсЃ╝тљЇ№╝џ<%= user.nickname %></div>
      <div class="follow_value">сЃЋсѓЕсЃГсЃ╝ТЋ░№╝џ<%= user.followings.count %></div>
      <div class="follower_value">сЃЋсѓЕсЃГсЃ»сЃ╝ТЋ░№╝џ<%= user.followers.count %></div>
      <%= link_to "сѓѓсЂЕсѓІ", wine_article_path(params[:user_id]), class: "our_own_link" %>
    </div>
  <% end %>
<% else %>
  <p class="non_exist">сЃдсЃ╝сѓХсЃ╝сЂ»сЂёсЂЙсЂЏсѓЊ</p>
<% end %>