<% if user_signed_in? %>
  <p class="index_navi">🥂皆の投稿一覧🥂</p>
  <ul class="article_area">
    <% @wine_articles.each do |wine_article| %>
      <%= link_to wine_article_path(wine_article.id),class: "link1", method: :get do %>
        <li class="article_box">
          <%= image_tag wine_article.image.variant(resize: '300x300'), class:"image_set" %>
          <p class="article_info">記事のタイトル：<%= wine_article.title %></p>
          <p class="article_info">ワインの値段：<%= wine_article.wine_price %>円</p>
          <p class="article_info">投稿者：<%= wine_article.user.nickname %>さん</p>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <div class= "index_deco" >
    <div class="index_form">
      <div class="information">Wine-Parkアプリへようこそ！</div>
    </div>
  <div class="index_form2">
      <div class="caution">お酒は20歳からです。当アプリケーションは、
        20歳以上の日本国内に住まわれるお客様同士の利用を想定しております。
        法律に反しての利用から生じたユーザー、またはユーザー同士のトラブルに関して当アプリケーションは、
        一切、責任を負わないものとします。犯罪行為、不適切な利用に関しては、発覚した時点で適切な処置を致します。
        ユーザー登録をもってユーザーは、それに同意したものとみなします。
      </div>
    </div>
  </div>
<% end %>