<div class="show_title">
  <p class="show_value">
    ЁЯН╖уБУуБошиШф║ЛуБошй│ч┤░ЁЯН╖
  </p>
</div>

<div class= "image_box">
  <%= image_tag @wine_article.image.variant(resize: '300x300'), class: "show_image" %>
    <table>
      <tr>
        <th class="detail_wine">уГпуВдуГ│хРН</th>
        <td class="detail_value"><%= @wine_article.wine_name %></td>
      </tr>
      <tr>
        <th class="detail_wine">уГпуВдуГ│хРНуБ╡уВКуБМуБк</th>
        <td class="detail_value"><%= @wine_article.wine_name_kana %></td>
      </tr>
      <tr>
        <th class="detail_wine">уГпуВдуГ│уБочиощбЮ</th>
        <td class="detail_value"><%= @wine_article.wine_type.name %></td>
      </tr>
      <tr>
        <th class="detail_wine">уГпуВдуГ│уБохС│</th>
        <td class="detail_value"><%= @wine_article.wine_taste.name %></td>
      </tr>
      <tr>
        <th class="detail_wine">ш│╝хЕеуБЧуБЯхАдцо╡</th>
        <td class="detail_value"><%= @wine_article.wine_price %>хЖЖ</td>
      </tr>
      <tr>
        <th class="detail_wine">ш│╝хЕеуБЧуБЯуБКх║Ч</th>
        <td class="detail_value"><%= @wine_article.wine_shop %></td>
      </tr>
    </table>
    <% if @wine_article.user.id == current_user.id %>
      <div class="about_link">
        <%= link_to "ч╖ищЫЖуБЩуВЛ", "#", class: "edit_link" %>
        <%= link_to "хЙКщЩдуБЩуВЛ", wine_article_path(@wine_article.id), method: :delete, class: "delete_link" %>
      </div>
    <% end %>
</div>

<div class="field_main">
  <div class="theme_field">
    <p class="theme_value">шиШф║ЛуБоуВ┐уВдуГИуГл</p>
  </div>
  <div class="title_field">
    <p class="value_field"><%= @wine_article.title %></p>
  </div>
  <div class="theme_field">
    <p class="theme_value">чзБуБоф╝ЭуБИуБЯуБДуБУуБи</p>
  </div>
  <div class="comment_box">
    <p class="comment_field"><%= @wine_article.comment %></p>
  </div>
</div>
