<!DOCTYPE html>
<html>
  <head>
    <title>WinePark37082</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="title"><%= link_to "Wine-Park♪", root_path, class: "title_link" %><h1>
      <% if user_signed_in? %>
      <div class="select_links"><%= link_to current_user.nickname, "#" %>
        <ul>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      
        <%= link_to "投稿する", new_wine_article_path %>
      </div>
      <% else %>
       <div class="posts">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, method: :get, class: "post" %>
       </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <div class="boss_footer">
        <p class="footer_logo">
          Copyright WinePark37082 2022.
        </p>
      </div>
    </footer>
  </body>
</html>
